<div class="stats">
  <%= link_to user_following_index_path(current_user) do %>
    <strong id="following" class="stat">
      <%= current_user.following.count %>
    </strong>
    <%= t "following" %>
  <% end %>

  <%= link_to user_followers_path(current_user) do %>
    <strong id="follower" class="stat">
      <%= current_user.followers.count %>
    </strong>
    <%= t "followers" %>
  <% end %>
</div>
