<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t"word" %></th>
      <th><%= t"option" %></th>
      <th><%= t"result" %></th>
    </tr>
  </thead>
  <tbody>
    <% @lesson.results.each do |result| %>
      <tr>
        <td><%= result.word.content %></td>
        <td>
          <%= result.choice.try(:content) ? result.choice.content : t("not_selected") %>
        </td>
        <td>
          <%= result.choice.try(:correct) ? t("correct") : t("incorrect") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
