<% provide :title, t("lessons") %>
<h1> <%= @lesson.category.title %> </h1>

<%= form_for [@lesson.category, @lesson], remote: true do |f| %>
  <%= f.fields_for :results do |result_builder| %>
    <% result = result_builder.object %>
    <% word = result.word %>

    <div class="word-item <%= "hide" unless result_builder.index == 0 %> ">
      <%= result_builder.hidden_field :id %>
      <p><strong><%= word.content %></strong></p>

      <% word.choices.each do |choice| %>
        <p>
          <%= result_builder.radio_button :choice_id, choice.id %>
          <%= choice.content %>
        </p>
      <% end %>
    </div>
  <% end %>
  <%= f.submit t("submit"), class: "btn btn-primary" %>
<% end %>

<%= link_to t("previous"), "javascript:void(0)", id: "previous", class: "pull-left" %>
<%= link_to t("next"), "javascript:void(0)", id: "next", class: "pull-right" %>

<%= render "result_modal" %>
