<% unless @words.blank? %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><%= t"word" %></th>
        <th><%= t"pronunciation" %></th>
        <th><%= t"meaning" %></th>
      </tr>
    </thead>
    <tbody>
      <% @words.each do |word| %>
        <tr>
          <td><%= link_to word.content, word %></td>
          <td><%= word.pronunciation %></td>
          <td>
            <% word.choices.each do |choice| %>
              <%= choice.content if choice.correct? %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
